@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-primary: #4e46b4;
  --color-primary-tint: #4e46b41f;
  --color-accent: #40a69f;
  --color-background: #f5f5f5;
  --color-surface: #ffffff;
  --color-surface-raised: #ffffff;
  --color-text: #000000;
  --color-text-muted: #595d62;
  --color-border: #e2e2e2;
  --color-overlay: #0000008f;
  --color-hover: #0000000a;
}

.dark {
  --color-primary: #4e46b4;
  --color-primary-tint: #4e46b452;
  --color-accent: #40a69f;
  --color-background: #0b0b0b;
  --color-surface: #1f1f1f;
  --color-surface-raised: #ffffff;
  --color-text: #ffffff;
  --color-text-muted: #595d62;
  --color-border: #444444;
  --color-overlay: #0000008f;
  --color-hover: #ffffff14;
}

.dark {
  --tw-shadow-color: rgb(0 0 0 / 0.6);
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-primary-tint: var(--color-primary-tint);
  --color-accent: var(--color-accent);
  --color-background: var(--color-background);
  --color-surface: var(--color-surface);
  --color-surface-raised: var(--color-surface-raised);
  --color-text: var(--color-text);
  --color-text-muted: var(--color-text-muted);
  --color-border: var(--color-border);
  --color-overlay: var(--color-overlay);
  --color-hover: var(--color-hover);

  --font-sans: "DM Sans", ui-sans-serif, system-ui, sans-serif;

  --color-success: #2e7d32;
  --color-success-tint: #2e7d321f;
  --color-error: #d33030;
  --color-error-tint: #d330301f;
  --color-warning: #ffb319;
  --color-warning-tint: #ffb3191f;
  --color-info: #3448f0;
  --color-info-tint: #3448f01f;

  --text-3xs: 9px;
  --text-3xs--line-height: 16px;
  --text-2xs: 10px;
  --text-2xs--line-height: 16px;
  --text-xs: 12px;
  --text-xs--line-height: 16px;
  --text-sm: 14px;
  --text-sm--line-height: 24px;
  --text-md: 16px;
  --text-md--line-height: 24px;
  --text-lg: 18px;
  --text-lg--line-height: 28px;
  --text-xl: 20px;
  --text-xl--line-height: 32px;
  --text-2xl: 24px;
  --text-2xl--line-height: 32px;
  --text-3xl: 32px;
  --text-3xl--line-height: 40px;
  --text-3xl--letter-spacing: -0.5px;
  --text-4xl: 40px;
  --text-4xl--line-height: 48px;
  --text-4xl--letter-spacing: -0.5px;
  --text-5xl: 48px;
  --text-5xl--line-height: 56px;
  --text-5xl--letter-spacing: -1px;
  --text-6xl: 56px;
  --text-6xl--line-height: 64px;
  --text-6xl--letter-spacing: -1.5px;
  --text-7xl: 64px;
  --text-7xl--line-height: 72px;
  --text-7xl--letter-spacing: -2px;
  --text-8xl: 72px;
  --text-8xl--line-height: 76px;
  --text-8xl--letter-spacing: -2.5px;

  --container-container: 1328px;
}
